.container {
    background: linear-gradient(80deg, #1a1a1a, #bd0561, #1a1a1a);
    color: #651515;
    padding: 20px;
    min-height: 100vh;
    font-family: 'Courier New', monospace;
}

.track {
    background: linear-gradient(45deg, #b5338c, #000000);
    margin: 10px 0;
    padding: 15px;
    border-left: 9px solid #000000;
    border: 1px solid #c32700;
    transition: all 0.3s ease;
    animation: slideInLeft 0.8s ease-out;
    box-shadow: 0 0 15px rgba(255, 254, 250, 0.2);
}

.track:nth-child(even) {
    animation: slideInRight 0.8s ease-out;
    border-left: 9px solid #ef47ef;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.3);
}


.track-list {
  display: flex;
  gap: 20px;
}

.column-left, .column-right {
  flex: 1;
}

.slideshow-container {
  position: absolute;
  animation: slideInRight 2s;
  top: 170px;
  right: 20px;
  width: 900px;
  height: 530px;
}


.slide {
  width: 100%;
  height: 100%;
  animation: slideshow 4s alternate;
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.track:hover {
    transform: translateX(10px) scale(1.02);
    background: linear-gradient(45deg, #df7777, #dc8949);
    box-shadow: 0 0 95px rgba(255, 255, 255, 0.5);
}


.home-btn {
display: inline-block;
background: rgb(245, 59, 158);
color: #000000;
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
margin-bottom: 20px;
transition: background 0.3s ease;
}

.home-btn:hover {
background: rgb(25, 22, 22);
transform: translateY(-10px);
}