body 
.container {
    background: linear-gradient(45deg, #3d3022, #333);
    color: #c38660;
    padding: 20px;
    min-height: 10vh;
}

.track {
    background: #957b53;
    margin: 10px 0;
    padding: 15px;
    border-left: 4px solid #968265;
    transition: transform 0.3s ease;
}

.track:hover {
    transform: translateX(10px);
    background: #b48d5b;
}

.track {
    background: #444;
    margin: 5px 0;
    padding: 0px;
    border-left: 9px solid
    transition: transform 0.3s ease;
    animation: fadeInLeft 1s ease-out;
}

.track:nth-child(even) {
    animation: fadeInRight 1s ease-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.home-btn {
    display: inline-block;
    background: #81542a;
    color: #482109
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background 0.3s ease;
}

.home-btn:hover {
    background: rgb(165, 151, 150);
    transform: translateY(-10px);
}