.container {
    background: linear-gradient(70deg, #000000, #8b0000, #cc4400, #8b0000, #000000);
    color: linear-gradient (45deg) #ff0000
    padding: 20px;
    min-height: 100vh;
    font-family: 'Courier New', monospace;
}

.track {
    background: linear-gradient(45deg, #2a2a2a, #3d2f26);
    margin: 10px 0;
    padding: 10px;
    border-left: 9px solid #840b0b;
    transition: all 0.3s ease;
    animation: slideInLeft 0.8s ease-out;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.2);
}

.track:nth-child(even) {
    animation: slideInRight 0.8s ease-out;
    border-left: 9px solid #840b0b;
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.3);
}

.track-list {
  display: flex;
  gap: 20px;
}

.column-left, .column-right {
  flex: 1;
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(300px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.track:hover {
    transform: translateX(10px) scale(1.02);
    background: linear-gradient(100deg, #540202, #000000);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}


.home-btn {
display: inline-block;
background: rgb(86, 2, 2);
color: #000000
padding: 10px 20px;
text-decoration: none;
border-radius: 5px;
margin-bottom: 20px;
transition: background 0.3s ease;
}

.home-btn:hover {
background: rgb(25, 22, 22);
transform: translateY(-10px);
}