.imperial-script-regular {
  font-family: "Imperial Script";
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: rgb(128, 93, 93);
}

img {
    height: 250px;
}

.header a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic, bold;
  font-size: 25px;
  color: rgba(215, 5, 5, 0.49);
  padding: 30px;
}